body{
	margin:0;
	font-family:"Playfair Display",serif;
	font-size:16px ;
	font-weight:400 ;
	color:#000000;
}
header{
	padding:50px 0;
}
.container1{
	margin:0 auto;
	width:90%;
	overflow:hidden;
	/*border:1px solid red;*/
}
.logo{
	width:16%;
	float:left;
}
.width1{
	width:100%;
}
.menu{
	width:70%;
	float:right;
}
.menu ul{
	list-style:none;
	float:right;
}
.menu ul li{
	float:left;
}
.menu ul li a{
	margin:0 38px;
	display: inline-block;
	color:#000000;
	text-decoration:none;
	text-transform:uppercase
	border-bottom:1px solid transparent;
	transition:linear .40s;
}
.menu ul li:last-child a{
	margin-right:0;
}
.menu ul li a:hover{
	border-bottom:1px solid #696969;
}

.article{
	padding:50px 0;
}
.container2{
    margin:0 auto;
	width:80%;

}
.content1_a{
	margin:0;
	font-family:"Ubunto",sans-serif;
	font-size:16px;
	font-weight:300;
	text-transform:uppercase;
}

.content1_b{
	margin:25px 0;
	font-size:35px;
	font-weight:400;
}
.content1_c{
	margin-bottom:50px ;
	line-height:28px;
}
.comment{
	text-decoration:none;
	color:#696969;
	display:inline-block;
}
